<h2>ToDo Lists</h2>
<form ng-submit="ctrl.addToDoList(ctrl.newTitle)">
  <input ng-model="ctrl.newTitle" placeholder="Add list..."/>
</form>
<table
    id="listing"
    ng-show="ctrl.queries.todolists.length"
    class="table table-striped table-condensed">
  <tbody>
  <tr ng-repeat="todolist in ctrl.queries.todolists | orderBy:'text'">
    <td>
      <a ui-sref="todolist.list({todolistId: todolist._id})"
         ng-bind="todolist.text"></a>
    </td>
    <td class="actions">
      <button ng-click="ctrl.deleteToDoList(todolist._id)">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div
    ng-show="!ctrl.queries.todolists.length">
  <em>No todolists defined.</em>
</div>
