<h2>ToDo Lists</h2>
<form ng-submit="ctrl.addToDoList(ctrl.newTitle)">
  <input ng-model="ctrl.newTitle" placeholder="Type something"/>
</form>
<table class="table table-striped table-condensed"
       style="width: 300px">
  <tbody>
  <tr ng-repeat="todo in ctrl.queries.todolists | orderBy:'text'">
    <td ng-bind="todo.text">todo text</td>
    <td width="40px">
      <button ng-click="ctrl.deleteToDo(todo._id)">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
